!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rails 4 App
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{  :class => "application #{controller.controller_name} #{controller.controller_name}-#{controller.action_name}", :"data-class-name" => js_class_name }
    = yield
